@use "../abstracts" as *;

.about {
  color: $dark-grayish-blue;

  @include mq(medium2) {
    text-align: left;
    @include grid-col(2, 1fr);
    align-items: center;
  }

  &__text {
    padding: 3.6rem 1.5rem;

    @include mq(medium2) {
      padding: 1.6rem 4.4rem;
      &:nth-child(2) {
        grid-row: 1;
      }
    }

    @include mq(large) {
      padding: 3.6rem 8rem;
    }
  }

  &__heading {
    font-size: 2rem;
    color: $very-dark-desaturated-blue;

    @include mq(medium2) {
      font-size: 2.7rem;
    }
  }

  &__subtext {
    padding-block: 2.1rem;

    @include mq(medium2) {
      padding-block: 2.5rem;
    }
  }

  &__link {
    @include bold-text;
    text-transform: uppercase;
    position: relative;

    &::after {
      @include link-after($yellow);
      @include transition-ease-in-out(all);
    }

    &--red::after {
      @include link-after($soft-red);
    }

    &:hover::after {
      bottom: -40%;
      opacity: 0.7;
    }
  }
}
