@use "../abstracts" as *;

.header {
  background-image: url("../assets/images/mobile/image-header.jpg");
  background-position: center;
  background-size: cover;
  padding: 2rem 1.7rem 8.95rem;
  position: relative;

  @include mq(medium2) {
    background-image: url("../assets/images/desktop/image-header.jpg");
    padding: 2.9rem 3.1rem 21rem 2.5rem;

    &__logo {
      min-width: 10.5rem;
    }
  }

  &__navbar {
    @include flex(space-between, center);
  }

  &__list {
    width: 20rem;
    flex-direction: column;
    gap: 2.3rem;
    position: absolute;
    top: 20%;
    right: 7.5%;
    padding: 2.5rem 2.5rem 3.5rem;
    background-color: $white;
    transform: scale(0);
    transform-origin: right -2.5rem;
    @include transition-ease-in-out(transform);

    @include mq(medium) {
      right: 4%;
    }

    @include mq(medium2) {
      position: relative;
      inset: 0;
      flex-direction: row;
      justify-content: flex-end;
      gap: 3rem;
      background-color: transparent;
      padding: 0;
      transform: scale(1);
    }

    &::before {
      content: "";
      display: block;
      width: 1.4375rem;
      position: absolute;
      top: -1.5rem;
      right: 0;
      border-color: transparent $white $white transparent;
      border-width: 1.25rem;
      border-style: solid;

      @include mq(medium2) {
        display: none;
      }
    }

    &--open {
      transform: scale(1);
    }
  }

  &__container {
    margin-top: 5.5rem;

    @include mq(medium2) {
      margin-top: 6.65rem;
    }
  }

  &__heading {
    color: $white;
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 0.5625rem;
    line-height: 1.4;

    @include mq(medium2) {
      font-size: 3.7rem;
    }
  }

  &__arrow {
    padding-top: 2.9rem;
    margin: auto;

    @include mq(medium2) {
      padding-top: 5.3rem;
    }
  }
}
